<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.tv.core.mapper.RoomProgramMapper">


    <sql id="Base_Column_List">
        mrp.id, mrp.status, mrp.live,mrp.playback
    </sql>

    <select id="findObjById" resultType="com.cloud.tv.entity.RoomProgram">
        SELECT *
        FROM metoo_room_program
        WHERE
        id=#{id}
    </select>


    <!--AND mrp.roomName LIKE '%${roomName}%'-->
    <!--AND mrp.roomName LIKE "%"#{roomName, jdbcType=VARCHAR}"%"-->
    <!--AND mrp.roomName LIKE CONCAT('%', #{roomName}, '%')-->
    <!--AND mrp.roomName LIKE CONCAT('%', '${roomName}', '%')-->
    <select id="query" parameterType="com.cloud.tv.dto.RoomProgramDto" resultType="com.cloud.tv.entity.RoomProgram">
      SELECT *
      FROM metoo_room_program mrp
      <where>
          <if test = "status != null">
            AND mrp.status = #{status}
          </if>
          <if test = "roomId != null">
            AND mrp.roomId = #{roomId}
          </if>
          <if test = "title != null and title != ''">
              AND mrp.title LIKE CONCAT('%', #{title}, '%')
          </if>
          <if test = "title != null and title != ''">
              AND mrp.roomTitle LIKE CONCAT('%', #{title}, '%')
          </if>
          <if test="userId != null">
              AND userId = #{userId}
          </if>
          AND mrp.deleteStatus = 0
      </where>

    </select>


    <select id="findObjByLiveRoomId" parameterType="map" resultType="com.cloud.tv.entity.RoomProgram">
        SELECT *
        FROM metoo_room_program
        <where>
            <if test = "status != null">
                AND status = #{status}
            </if>
            <if test = "live != null">
                AND live = #{live}
            </if>
            <if test="roomId != null">
                AND roomId = #{roomId}
            </if>
        </where>
    </select>

    <select id="findAccountByTotal" resultType="int">
        SELECT COUNT(1)
        FROM metoo_room_program
    </select>

    <select id="findObjByPage" resultType="com.cloud.tv.entity.RoomProgram">
        SELECT *
        FROM metoo_room_program
        <where>
            <if test="deleteStatus != null">
                AND deleteStatus = #{deleteStatus}
            </if>
            <if test="userId != null">
                AND userId = #{userId}
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="userId != null">
                AND userId = #{userId}
            </if>
        </where>
        ORDER BY addTime
        DESC
        LIMIT #{startRow}, #{pageSize}
    </select>


    <insert id="insert" parameterType="com.cloud.tv.entity.RoomProgram" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO metoo_room_program
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="addTime != null">
                addTime,
            </if>
            <if test="title != null ">
                title,
            </if>
            <if test="userId != null">
                userId,
            </if>
            <if test="userName != null">
                userName,
            </if>
            <if test="beginTime != null">
                beginTime,
            </if>
            <if test="endTime!= null">
                endTime,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="type!= null">
                `type`,
            </if>
            <if test="info != null">
                info,
            </if>
            <if test="poster !=null">
                poster,
            </if>
            <if test="roomId != null">
                roomId,
            </if>
            <if test="roomName != null and roomName != ''">
                roomName,
            </if>
            <if test="lecturer != null">
                lecturer,
            </if>
            <if test="cover != null">
                cover,
            </if>
            <if test="playback != null">
                playback,
            </if>
            <if test="isPlayback != null">
                isPlayback,
            </if>
            <if test="grade != null">
                grade_id,
            </if>
            <if test="gradeName != null">
                gradeName,
            </if>
            <if test="course != null">
                course_id,
            </if>
            <if test="courseName != null">
                courseName,
            </if>
            <if test="display != null">
                display,
            </if>
            <if test="timestamp != null">
                timestamp,
            </if>
        </trim>
        <trim prefix="VALUES (" suffixOverrides="," suffix=")">
            <if test="addTime != null">
                #{addTime},
            </if>
            <if test="title != null ">
                #{title},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="userName != null">
                #{userName},
            </if>
            <if test="beginTime != null">
                #{beginTime},
            </if>
            <if test="endTime!= null">
                #{endTime},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="type!= null">
                #{type},
            </if>
            <if test="info != null">
                #{info},
            </if>
            <if test="poster !=null">
                #{poster},
            </if>
            <if test="roomId != null">
                #{roomId},
            </if>
            <if test="roomName != null and roomName != ''">
                #{roomName},
            </if>
            <if test="lecturer != null">
                #{lecturer},
            </if>
            <if test="cover != null">
                #{cover},
            </if>
            <if test="playback != null">
                #{playback},
            </if>
            <if test="isPlayback != null">
                #{isPlayback},
            </if>
            <if test="grade != null">
                #{grade_id},
            </if>
            <if test="gradeName != null">
                #{gradeName},
            </if>
            <if test="course != null">
                #{course_id},
            </if>
            <if test="courseName != null">
                #{courseName},
            </if>
            <if test="display != null">
                #{display},
            </if>
            <if test="timestamp != null">
                #{timestamp},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.cloud.tv.entity.RoomProgram">
        UPDATE metoo_room_program
        <set>
            <if test="deleteStatus != null">
                deleteStatus=#{deleteStatus},
            </if>
            <if test="title != null ">
                title=#{title},
            </if>
            <if test="userId != null">
                userId=#{userId},
            </if>
            <if test="userName != null">
                userName=#{userName},
            </if>
            <if test="beginTime != null">
                beginTime=#{beginTime},
            </if>
            <if test="endTime!= null">
                endTime=#{endTime},
            </if>
            <if test="status != null">
                status=#{status},
            </if>
            <if test="type!= null">
                `type` = #{type},
            </if>
            <if test="info != null">
                info=#{info},
            </if>
            <if test="poster !=null">
                poster=#{poster},
            </if>
            <if test="roomId != ''">
                roomId=#{roomId},
            </if>
            <if test="roomName != null and roomName != ''">
                roomName=#{roomName},
            </if>
            <if test="lecturer != null">
                lecturer=#{lecturer},
            </if>
            <if test="cover != null">
                cover=#{cover},
            </if>
            <if test="live != null">
                live=#{live},
            </if>
            <if test="playback != null">
                playback=#{playback},
            </if>
            <if test="isPlayback != null">
                isPlayback = #{isPlayback},
            </if>
            <if test="grade != ''">
                grade_id = #{grade.id},
            </if>
            <if test="gradeName != ''">
                gradeName = #{gradeName},
            </if>
            <if test="course != ''">
                course_id = #{course.id},
            </if>
            <if test="courseName != ''">
                courseName = #{courseName},
            </if>
            <if test="display != null">
                display = #{display},
            </if>
            <if test="timestamp != null">
                timestamp = #{timestamp},
            </if>
        </set>
        <where>
            <if test="id != null ">
                id=#{id}
            </if>
        </where>
    </update>

    <delete id="delete" parameterType="Long">
        DELETE
        FROM metoo_room_program
        WHERE id=#{id}
    </delete>

    <select id="condition" parameterType="map" resultType="com.cloud.tv.entity.RoomProgram">
        SELECT *
        FROM metoo_room_program
        <where>
            <if test = "status != null">
                AND status=#{status}
            </if>
            <if test = "live != null">
                AND live=#{live}
            </if>
            <if test="roomId">
                AND roomId = #{roomId}
            </if>
            <if test = "userId != null">
                AND userId=#{userId}
            </if>
            <if test = "course_id != null">
                AND course_id=#{course_id}
            </if>
            <if test = "grade_id != null">
                AND grade_id=#{grade_id}
            </if>
        </where>
    </select>

    <select id="livestatus" parameterType="map" resultType="com.cloud.tv.entity.RoomProgram">
        SELECT <include refid="Base_Column_List"/>
        FROM metoo_room_program mrp
        <where>
            <if test="status != null">
                AND status=#{status}
            </if>
            <if test="live != null">
                AND live=#{live}
            </if>
        </where>
    </select>
</mapper>